#main_div{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 10px 0px 0px 150px;
}

.common_div{
    width: border-box;
    padding: 10px;
}